* {
  margin: 1;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body {
  background-color: rgb(245, 250, 255);
}
.navbar {
  background-color: rgb(78, 93, 204);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.navbar a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 1.3rem 0.9rem;
}
a.active {
  background-color: rgb(25, 45, 195);
}
.navbar a:hover {
  background-color: rgb(25, 45, 195);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  transition: 0.3s;
  width: 20%;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.card h4{
  color: rgb(50, 66, 189);
}
.card button{
  width: 100px;
  border: 1px solid blue;
  border-radius: 20px;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.b2{
  background-color: rgb(25, 45, 195);
  color: white;
}
.b1{
  background-color: rgb(255, 255, 255);
}
table {
  font-family: arial, sans-serif;
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
  padding: 20px;
}
.tbt{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  width: 60%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  
  
}
th{
  background-color: rgb(25, 45, 195);
  color: white;
}
.h33{
  border-bottom: 1px solid rgb(180, 180, 180);
  padding-top: 10px;
  padding-bottom: 10px;
}
.card2{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  transition: 0.3s;
  width: 50%;
  margin: 10px;
}
.zankati h1{
  color: rgb(25, 45, 195);
}
.zankati{
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
}
.lenmo{
  padding: 10px;
  background-color: rgb(25, 45, 195);
  color:white;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.Round{
  padding: 10px;
  background-color: white;
  color:rgb(25, 45, 195);
  border: 1px solid rgb(25, 45, 195);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50px;
}
